dist/minicv-1.0.0-py3-none-any.whl
dist/minicv-1.0.0.tar.gz
minicv.egg-info/dependency_links.txt
minicv.egg-info/PKG-INFO
minicv.egg-info/requires.txt
minicv.egg-info/SOURCES.txt
minicv.egg-info/top_level.txt
